<%= render 'layouts/search' %>
  <div class="container">
    <div class="well well-sm">
     <%= link_to 'Back to list', :back %> > Pilot Car Listing
    </div>
  </div>
</div>
<div class="container">
<div class="jumbotron">
	<div class="row">
	  <div class="col-md-4 col-md-4">
		    <h3><%= @listing.title %></h3>
		  	<h4><%= @listing.city %>, <%= @listing.state %></h4>
			<%= render "layouts/social"%>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-3" align="center">
		  <br>
<div class="row">	
</div>
	  </div>
	  <div class="col-md-5 col-md-4">
		  <h4><small><br></small>
			  Main: <%= link_to number_to_phone(@listing.contactphone, area_code: true),  phone_number_link(@listing.contactphone), :rel => 'nofollow' %><br>
			  <% if @listing.cellphone.present? %>
			  Mobile: <%= link_to number_to_phone(@listing.cellphone, area_code: true),  phone_number_link(@listing.cellphone), :rel => 'nofollow'  %><br>
			  <% end %>
			  <% if @listing.fax.present? %>
			  Fax: <%= link_to number_to_phone(@listing.fax, area_code: true), phone_number_link(@listing.fax) , :rel => 'nofollow' %><br>
			  <% end %>
			  <% if @listing.website.present? %>
			  Website: <%= link_to @listing.title, @listing.website %>
			  <% end %>
		  </h4>
	  </div>
	</div>
	<hr>
  	<p><%= raw(@listing.description) %></p>
  <div>
	<div id="pins" class="transitions-enabled">
	<%= render @listing.pins.limit(12) %>
    </p>
</div>
<br>
</div>
  <% if current_pilot == @listing.pilot %>
  <div class="well well-sm">
  <%= link_to 'Edit', edit_listing_path, class: "btn btn-warning btn-xs" %> &nbsp;   
  <%= link_to 'Delete', @listing, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure you want to delete this listing?' } %>  (Be careful.)<br>
  <h3>Add pictures</h3>
  <%= render "pins/form" %>
  <h3>Notifications</h3>
  <%= render @listing.notifications %>
  </div>
  <% end %>
  <% if trucker_signed_in? %>
  <div class="well well-sm">
  <%= render "notifications/form" %>
  </div>
  <% end %>
</div>
<div class="container"> <p>Last updated <%= time_ago_in_words(@listing.updated_at)%> ago. </p>
</div>
